
*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100px;
    background: linear-gradient();
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200;
    float: left;
    height: 70px;
}
.logo
{
    color: #ff7200;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 40px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    float: right;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: white;
    border: 3px solid #ff7200;
    margin-top: 13px;
    color: rgb(13, 2, 41);
    border-right: none;
    font-size: 14px;
    float: left;
    padding: 10px;
    border-bottom-left-radius:20px;
    border-top-left-radius: 100px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.btn a:hover{
    color: #7700ff;
}

.btn:focus{
    outline: none               ;
}
.srch:focus{
    outline: none;
}
